<launch>

  <!-- /////////////////////// -->
  <!--      Args / Params      -->
  <!-- /////////////////////// -->

  <!-- By default, we do not start a database (it can be large) -->
  <arg name="db" default="false" />

  <!-- By default, we are not in debug mode -->
  <arg name="debug" default="false" />

  <!-- By default we will launch Gazebo since this is a testing setup -->
  <arg name="launch_gazebo" default="true"/>

  <param name="using_gazebo" value="$(arg launch_gazebo)"/>


  <!-- Only For Gazebo -->

  <!-- These nodes only get launched if Gazebo is being used.  Most of them will be launched on the youBot. -->
  <group if="$(arg launch_gazebo)">

	<!-- /////////////////////// -->
	<!--     State Publishers    -->
	<!-- /////////////////////// -->

	<!-- We do not have a robot connected, so publish fake joint states -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"/>
  
	<!-- Given the published joint states, publish tf for the robot links -->
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />


	<!-- /////////////////////// -->
	<!--          Gazebo         -->
	<!-- /////////////////////// -->

	<!-- Only launch this if we have set the flag for using Gazebo -->
	<include file="$(find youbot_object_grasp)/launch/youbot_gazebo.launch"/>


	<!-- /////////////////////// -->
	<!--        navstack         -->
	<!-- /////////////////////// -->

	<node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
	  <param name="base_global_planner" value="navfn/NavfnROS"/>
	  <rosparam file="$(find youbot_object_grasp)/config/global_costmap_params.yaml" command="load" ns="global_costmap"/>
	  <rosparam file="$(find youbot_object_grasp)/config/costmap_params.yaml" command="load" ns="local_costmap"/>
	  <rosparam file="$(find youbot_object_grasp)/config/move_base_params.yaml" command="load"/>
	  <rosparam file="$(find youbot_object_grasp)/config/eband_planner_params.yaml" command="load"/>

	  <param name="base_local_planner" value="eband_local_planner/EBandPlannerROS"/>

	  <remap from="cmd_vel" to="/youbot/cmd_vel"/>
	  <remap from="odom" to="/youbot/odom"/>
	</node>

	<node name="odom_tf_pub" pkg="youbot_object_grasp" type="odom_tf_pub" output="screen">
	  <remap from="/odom" to="/youbot/odom"/>
	  <param name="odom_frame_id" value="/youbot/odom"/>
	  <param name="base_frame_id" value="/youbot/base_footprint"/>
	</node>

	<node pkg="map_server" type="map_server" name="map_server" args="$(find youbot_object_grasp)/worlds/EmptyRoom/occupancy/map.yaml"/>


	<!-- /////////////////////// -->
	<!--       Laser Data        -->
	<!-- /////////////////////// -->

	<!-- Works with the laser data coming from Gazebo -->
	<node pkg="amcl" type="amcl" name="amcl" args="scan:=/youbot/scan_front" output="screen">
	  <param name="odom_frame_id" value="/youbot/odom"/>
	  <param name="base_frame_id" value="/youbot/base_link"/>
	  <param name="global_frame_id" value="map"/>
	  <param name="odom_model_type" value="omni"/>
	</node>

  </group>


  <!-- /////////////////////// -->
  <!--         MoveIt!         -->
  <!-- /////////////////////// -->

  <!-- Run the main MoveIt executable without trajectory execution (we do not have controllers configured by default) -->
  <include file="$(find youbot_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>  
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>


  <!-- /////////////////////// -->
  <!--       Arm Control       -->
  <!-- /////////////////////// -->

  <node name="arm_control" pkg="youbot_object_grasp" type="arm_control" output="screen">
	<param name="odom_frame_id" value="/youbot/odom"/>
	<remap from="/cmd_vel" to="/youbot/cmd_vel" if="$(arg launch_gazebo)"/>
	<remap from="/odom" to="/youbot/odom" if="$(arg launch_gazebo)"/>
  </node>


  <!-- /////////////////////// -->
  <!--   Object Segmentation   -->
  <!-- /////////////////////// -->

  <!-- Choose the proper one depending on if we are launching Gazebo or not. -->
  <include file="$(find pcl_auto_seg)/launch/pcl_tut_temp_align.launch" if="$(arg launch_gazebo)"/>
  <include file="$(find pcl_auto_seg)/launch/seg_block.launch" unless="$(arg launch_gazebo)"/>

</launch>
